[Unit]
Description=Duet Http Connector

[Service]
ExecStart=/opt/dsf/bin/DuetHttpConnector -H 169.254.127.2
TimeoutStopSec=15
Restart=always
RestartSec=5
Type=simple
User=dsf
Group=dsf
UMask=0002
CapabilityBoundingSet=CAP_SYS_TIME
AmbientCapabilities=CAP_SYS_TIME

[Install]
WantedBy=multi-user.target
